# Compiled Object files
*.obj

# Output directory by VC++
Debug/
Release/

# Temporary files by VC++
*.opensdf

# Visual Studio Settings
.vs/

# SQL detabase   <= Too Large
*.sdf

# vi tempfiles
*~
*.swp


ComplexArray.suo
.bash_history
TestComplexArray.suo

# NuGet Packages (ex. NUnit)
packages/

# fftw-update test
fftw/new/
