# Compiled Object files
*.obj

# Output directory by VC++
Debug/
Release/

# Temporary files by VC++
*.opensdf

# SQL detabase   <= Too Large
*.sdf

# vi tempfiles
*~
*.swp


ComplexArray.suo
.bash_history
